<!DOCYTYPE HTML>
<html>
<head>
<title>테스트</title>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Nanum+Gothic&family=Stylish&display=swap" rel="stylesheet">
<style>
    *{
        /*font-family: 'Gamja Flower', cursive;*/
     }
</style>
</head>
<body>
    <div style="text-align : center;" >
        <h1>
            객체인식 영상이 완료되었습니다.   
        </h1><br>
        <h3>
            사람 / 신호등 / 차량종류(자전거, 승용차, 오토바이, 버스, 기차, 트럭, 비행기, 보트)만 인식됩니다.
        </h3>
        <video controls width="1400">
        
            <source src="../static/sample.mp4" type="video/mp4" />
            
        </video><br><br>
  
        <!-- <video src="/Users/wdit0/Desktop/Project_CP1/sample.avi" width="1280px" height="720px"></video> -->
  
        <button type="button" class="btn btn-primary"onClick="location.href='/'">
         Home
        </button>
    </div>
</body>
</html>