@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
*, *:before, *:after {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
body {
  background:#58585A;
  -webkit-transform:translateZ(0);
}
html, body {
  width:100%;
  height:100%;
}
/*
----------------------------------------------
Wrapper 
----------------------------------------------
*/
#loader {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#E9E8E3;
  z-index:99;
  -webkit-animation:offscreen .5s 15s forwards;
  animation:offscreen .5s 15s forwards;
}
#refresher {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:1;
  opacity:0;
  -webkit-animation:show .15s 16s forwards;
  animation:show .15s 16s forwards;
}
.refresh {
  color:#E9E8E3;
  font-family:'Open Sans Condensed', sans-serif;
  font-size:2rem;
  text-transform:uppercase;
  letter-spacing:.1rem;
}
.face {
  width:270px;
  height:270px;
}
/*
----------------------------------------------
SVG 
----------------------------------------------
*/
.head {
  transform-origin: 135px 135px;
  transform:scale(0);
  -webkit-animation:popup .6s 1s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
  animation:popup .6s 1s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
}
#eyeLeft, #eyeRight {
  transform:scale(0);
}
#eyeLeft {
  transform-origin:66px 127px;
  -webkit-animation:popup .5s 1.2s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
  animation:popup .5s 1.2s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
}
#eyeRight {
  transform-origin:203px 127px;
  -webkit-animation:popup .5s 1.25s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
  animation:popup .5s 1.25s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
}
.eyeLeft {
  transform-origin:66px 127px;
  -webkit-animation:downup 12.1s 1.6s cubic-bezier(.44,0,.01,.99) forwards;
  animation:downup 12.1s 1.6s cubic-bezier(.44,0,.01,.99) forwards;
}
.eyeRight {
  transform-origin:203px 127px;
  -webkit-animation:downup 12.1s 1.6s cubic-bezier(.44,0,.01,.99) forwards;
  animation:downup 12.1s 1.6s cubic-bezier(.44,0,.01,.99) forwards;
}
.eyeLeft > .pupil {
  transform-origin:66px 127px;
  -webkit-animation:follow 12.1s 1.6s forwards;
  animation:follow 12.1s 1.6s forwards;
}
.eyeRight > .pupil {
  transform-origin:203px 127px;
  -webkit-animation:follow 12.1s 1.6s forwards;
  animation:follow 12.1s 1.6s forwards;
}
.closedLeft {
  transform-origin:66px 127px;
  -webkit-animation:blink 12.1s 1.6s cubic-bezier(.44,0,.01,.99) forwards;
  animation:blink 12.1s 1.6s cubic-bezier(.44,0,.01,.99) forwards;
} 
.closedRight {
  transform-origin:203px 127px;
  -webkit-animation:blink 12.1s 1.6s cubic-bezier(.44,0,.01,.99) forwards;
  animation:blink 12.1s 1.6s cubic-bezier(.44,0,.01,.99) forwards;
}
.mouth {
  transform-origin:135px 233px;
  -webkit-animation:mouth 12.1s 1.6s cubic-bezier(.44,0,.01,.99) forwards;
  animation:mouth 12.1s 1.6s cubic-bezier(.44,0,.01,.99) forwards;
}
.bar {
  transform-origin:135px 233px;
  transform:scale(0);
  -webkit-animation:patient 12.8s 1s ease-in forwards;
  animation:patient 12.8s 1s ease-in forwards;
}
.smile {
  transform-origin:135px 233px;
  transform:scale(0);
  -webkit-animation:happy 12.9s 1s ease-in forwards;
  animation:happy 12.9s 1s ease-in forwards;
}
/*
----------------------------------------------
LOADING BAR 
----------------------------------------------
*/
.loading-bar {
  position:relative;
  margin-top:4rem;
  width:250px;
  background:#C1C0BC; 
}
.loading-bar